<div id="form-wrapper">
  <h2>Resources and Media</h2>
  <p id="step">Step 4</p>

  <form [formGroup]="mediaForm">
    <!-- <input id="headlineSuggestions" type="text" formControlName="headlineSuggestions" placeholder="Headline Suggestions (ideas or themes)" />

    <input
      id="subheadlineSuggestions"
      type="text"
      formControlName="subheadlineSuggestions"
      placeholder="Subheadline Suggestions"
    />

    <textarea
      id="keyMessages"
      type="text"
      formControlName="keyMessages"
      placeholder="Key Messages (bullet points of important information)"
    ></textarea>

    <textarea
      id="callToAction"
      type="text"
      formControlName="callToAction"
      placeholder="Call to Action (CTA) (specific actions users should take, e.g., “Sign Up Now”)"
    ></textarea>

    <textarea
      id="additionalContent"
      type="text"
      formControlName="additionalContent"
      placeholder="Additional Content (any other content that should be included)"
    ></textarea> -->

    <div id="btn-container">
      <app-button text="cancel" [isGhost]="true" (click)="onCancel()" />
      <app-button text="finish" (click)="onSubmit()" />
    </div>
  </form>
</div>
