.section-wrapper {
  position: relative;
}

.btn {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section-wrapper:hover .section {
  filter: blur(20px);
}

.section-wrapper:hover .btn {
  opacity: 1;
}
