.section-wrapper {
  position: relative;

  .section {
    transition: filter 0.25s ease-in-out;
  }

  &:hover .section {
    filter: blur(20px);
  }

  &:hover .btn {
    opacity: 1;
  }
}

.btn {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s ease-in-out;
}
