<div id="form-wrapper">
  <h2>Business Information</h2>
  <p id="step">Step 1</p>

  <form [formGroup]="companyForm">
    <input id="name" type="text" formControlName="name" placeholder="Name..." />

    <input
      id="industry"
      type="text"
      formControlName="industry"
      placeholder="Industry..."
    />

    <textarea
      id="uniqueValueProposition"
      type="text"
      formControlName="uniqueValueProposition"
      placeholder="Unique value proposition..."
    ></textarea>

    <textarea
      id="values"
      type="text"
      formControlName="values"
      placeholder="Values..."
    ></textarea>

    <textarea
      id="information"
      type="text"
      formControlName="information"
      placeholder="Information..."
    ></textarea>

    <textarea
      id="additionalInformation"
      type="text"
      formControlName="additionalInformation"
      placeholder="Additional information..."
    ></textarea>

    <div id="btn-container">
      <app-button text="cancel" [isGhost]="true" (click)="onCancel()" />
      <app-button text="next" (click)="onSubmit()" />
    </div>
  </form>
</div>
