@import "../../../colors";

#form-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 25vw;/**/
  }
  
  input {
    height: 2rem;
    width: 100%;
    padding-left: 0.2rem;
    border: 2px solid $primary;
    border-radius: 0.5rem;
  }
  
  textarea {
    min-height: 4rem;
    max-height: 7rem;
    width: 100%;
    padding-left: 0.2rem;
    resize: vertical;
    border: 2px solid $primary;
    border-radius: 0.5rem;
  }
  
  #step {
    margin-bottom: 1rem;
    font-size: 14px;
    text-transform: uppercase;
    color: $light;
  }
  
  #btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  