@if (isLoadingChanges) {
<div class="loader-wrapper">
  <app-loader size="10rem" />
</div>
} @if (isOpen) {
<ul id="context-menu" [style]="calculatePosition()">
  <li id="tagName">{{ this.target.tagName }}</li>

  @for (action of availableActions; track $index) {

  <li (click)="onAction(action)">
    <img [src]="returnActionIcon(action)" [alt]="action" class="action-icon" />
    <p>{{ action }}</p>

    @if (action === 'Regenerate') {
    <label class="ai">AI</label>
    } @else if (action === 'Upload') {
    <input
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
      accept="image/*"
      style="display: none"
    />
    }
  </li>

  }
</ul>

} @if (showConfirmDialog) {
<app-confirm-dialog (confirm)="onConfirmedDelete($event)" />
}
