#context-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
  z-index: 99;
  list-style: none;

  li {
    padding: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: scale ease-in-out 0.2s;

    &:first-of-type {
      border-radius: inherit;
    }

    &:not(:first-of-type) {
      border-radius: 0.5em;
    }

    &:hover {
      background: #eee;
      scale: 1.05;
    }
  }

  img {
    height: 1em;
    width: 1em;
    margin-right: 0.3em;
  }
}
