@import "../../../colors";

.form-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40vw;
    margin: 0 auto;
    gap: 1rem;
  }
  
  form,
  .preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 25vw;
  }
  
  input {
    height: 2rem;
    width: 100%;
    padding-left: 0.2rem;
    border: 2px solid $primary;
    border-radius: 0.5rem;
  }
  
  textarea {
    min-height: 4rem;
    max-height: 7rem;
    width: 100%;
    padding-left: 0.2rem;
    resize: vertical;
    border: 2px solid $primary;
    border-radius: 0.5rem;
  }
  
  .step {
    margin-bottom: 1rem;
    font-size: 14px;
    text-transform: uppercase;
    color: $light;
  }
  
  .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    pre {
      width: 100%;
      padding: 1rem;
      border: 1px solid $primary;
      border-radius: 0.5rem;
      white-space: pre-wrap;
      background-color: rgba(0, 0, 0, 0.01);
      max-height: 30rem;
      overflow-y: auto;
    }
    select {
      padding: 0.4rem 0.8rem;
      color: $primary;
      background: $on-primary;
      border: 1px solid $primary;
      border-radius: 0.5rem;
      font-size: 14px;
      letter-spacing: 0.5px;
      cursor: pointer;
    }
  }