#result-menu-wrapper {
  position: fixed;
  z-index: 100;
  top: 8em;
  left: 0;
  cursor: pointer;

  #menu-icon {
    width: 3em;
    aspect-ratio: 1/1;
    background-color: white;
    padding: 0.5em;
    border-radius: 0 1em 1em 0;
  }

  ul {
    border: 1px solid #ccc;
    border-radius: 0 0.5em 0.5em 0.5em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
    z-index: 1000;
    list-style: none;
    background: white;

    li {
      padding: 0.5em;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      transition: scale ease-in-out 0.2s;

      app-toggle {
        margin-right: 0.5em;
      }

      img {
        width: 1em;
        aspect-ratio: 1/1;
        margin-right: 0.3em;
      }

      &:not(:first-of-type):hover {
        cursor: pointer;
        background: #eee;
        scale: 1.05;
        border-radius: 0.5em;
      }
    }
  }
}
