<div id="side-menu-wrapper">
  <img
    src="/assets/icons/menu.svg"
    alt="menu"
    id="menu-icon"
    [style.filter]="isOpen ? 'brightness(0.95)' : ''"
    [class.unavailable]="isLoadingResultSections"
    (click)="toggleMenu()"
  />

  <ul [style.display]="isOpen ? 'block' : 'none'">
    <li class="toggle">
      <app-toggle (toggle)="toggleEditMode($event)" />
      Edit Mode
      <img class="info" src="/assets/icons/info.svg" alt="info" />
      <p class="info">Right click on an element in the page to edit</p>
    </li>

    <li class="toggle">
      <app-toggle />
      Mobile Version
    </li>

    <li class="function" (click)="exportPdf()">
      <img
        class="function-icon"
        src="/assets/icons/export-img.svg"
        alt="export-img"
      />
      Export as PDF
    </li>

    <li class="function" (click)="exportHtml()">
      <img
        class="function-icon"
        src="/assets/icons/export-html.svg"
        alt="export-html"
      />
      Export as HTML
    </li>

    <li class="function" (click)="exportJson()">
      <img
        class="function-icon"
        src="/assets/icons/export-json.svg"
        alt="export-json"
      />
      Export as JSON
    </li>
  </ul>
</div>
