<div class="form-wrapper">
  <h2>Design & Style</h2>
  <p class="step">Step 2</p>

  <form [formGroup]="designForm">
    <textarea
      type="text"
      formControlName="fonts"
      placeholder="Fonts..."
    ></textarea>

    <textarea
      type="text"
      formControlName="colors"
      placeholder="Colors..."
    ></textarea>

    <textarea
      type="text"
      formControlName="toneOfVoice"
      placeholder="Tone of voice..."
    ></textarea>

    <textarea
      type="text"
      formControlName="imageryStyle"
      placeholder="Imagery Style (e.g., modern, classic, minimalistic)"
    ></textarea>

    <textarea
      type="text"
      formControlName="additionalDesignFeatures"
      placeholder="Additional design features..."
    ></textarea>

    <div class="btn-container">
      <app-button text="back" [isGhost]="true" (click)="onBack()" />
      <app-button text="next" (click)="onSubmit()" [isDisabled]="isButtonDisabled" />
    </div>
  </form>
</div>
