<div id="form-wrapper">
  <h2>Design & Style</h2>
  <p id="step">Step 2</p>

  <form [formGroup]="designForm">
    
    <div class="fonts">
      <div class="label">Fonts</div>
      <div dropdown action="#">
        <div *ngIf="this.companyData.fonts"> Current: {{this.companyData.fonts}}</div>
        <select class="dropbtn" name="languages" id="lang">
          <option (click)="onClickFont($event)">Serif</option>
          <option (click)="onClickFont($event)">Sans Serif</option>
          <option (click)="onClickFont($event)">Monospace</option>
          <option (click)="onClickFont($event)">Futura</option>
          <option (click)="onClickFont($event)">Jungle Fever</option>
        </select>
      </div>
    </div>


    <div class="colors">Colors</div>
      <div class="dropdown">
        <div *ngIf="this.companyData.primaryColor"> Current: {{companyData.primaryColor}}</div>
        <div class="color" [style.backgroundColor]="this.companyData.primaryColor" *ngIf="this.companyData.primaryColor">&nbsp;</div>
        <button class="dropbtn">Primary</button>
        <div class="dropdown-content">
          <input (click)="onPrimaryColor($event)" (change)="onPrimaryColor($event)" value="{{companyData.primaryColor}}" type="color" id="colorPicker">
        </div>
      </div>
    
    <div class="dropdown">
        <div *ngIf="this.companyData.secondaryColor"> Current: {{this.companyData.secondaryColor}}</div>
        <div class="color" [style.backgroundColor]="this.companyData.secondaryColor" *ngIf="this.companyData.secondaryColor">&nbsp;</div>
        <button class="dropbtn">Secondary</button>
        <div class="dropdown-content">
          <input (click)="onSecondaryColor($event)" (change)="onSecondaryColor($event)" value="{{companyData.secondaryColor}}" type="color" id="colorPicker">
      </div>
    </div>

    <div class="dropdown">
        <div *ngIf="this.companyData.accentColor"> Current: {{this.companyData.accentColor}}</div>
        <div class="color" [style.backgroundColor]="this.companyData.accentColor" *ngIf="this.companyData.accentColor">&nbsp;</div>
        <button class="dropbtn">Accent</button>
        <div class="dropdown-content">
          <input (click)="onAccentColor($event)" (change)="onAccentColor($event)" value="{{companyData.accentColor}}" type="color" id="colorPicker">
      </div>
    </div>
    
    <div class="toneVoice">
      <div class="label">Tone of Voice</div>
      <div dropdown>
        <div class="label" *ngIf="this.companyData.toneOfVoice"> Current: {{this.companyData.toneOfVoice}}</div>
        <select class="dropbtn" name="languages" id="lang">
          <option (click)="onClickVoice($event)">Friendly</option>
          <option (click)="onClickVoice($event)">Humorous</option>
          <option (click)="onClickVoice($event)">Formal</option>
          <option (click)="onClickVoice($event)">Assertive</option>
          <option (click)="onClickVoice($event)">Professional</option>
        </select>
      </div>
    </div>

    <textarea
      id="additionalDesignFeatures"
      type="text"
      formControlName="additionalDesignFeatures"
      placeholder="Additional design features..."
    ></textarea>

    <div id="btn-container">
      <app-button text="back" [isGhost]="true" (click)="onBack()" />
      <app-button text="finish" (click)="onSubmit()" />
    </div>
  </form>
</div>
