<div id="form-wrapper">
  <h2>Design & Style</h2>
  <p id="step">Step 2</p>

  <form [formGroup]="designForm">

    <div class="dropdown">
      <button class="dropbtn">Fonts</button>
      <div class="dropdown-content">
        <button>Serif</button>
        <button>Sans Serif</button>
        <button>Monospace</button>
        <button>Jungle Fever</button>
      </div>
    </div> 

    <div class="dropdown">
      <button class="dropbtn">Colors</button>
      <div class="dropdown-content">
        <button (click)="onClick()">Primary</button>
        <button (click)="onClick()">Secondary</button>
        <button (click)="onClick()">Accent</button>
      </div>
    </div>
    
    <div class="color-picker">
      <label for="colorPicker"><i class='bx bx-palette'></i>
        </label>
      <input type="color" value="#1dbbce" id="colorPicker">
    </div>

    <div class="dropdown">
      <button class="dropbtn">Tone of Voice</button>
      <div class="dropdown-content">
        <button>Friendly</button>
        <button>Humorous</button>
        <button>Formal</button>
        <button>Assertive</button>
        <button>Professional</button>
      </div>
    </div> 

    <textarea
      id="additionalDesignFeatures"
      type="text"
      formControlName="additionalDesignFeatures"
      placeholder="Additional design features..."
    ></textarea>

    <div id="btn-container">
      <app-button text="back" [isGhost]="true" (click)="onBack()" />
      <app-button text="finish" (click)="onSubmit()" />
    </div>
  </form>
</div>
