/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font: 16px "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
input,
button,
textarea {
  font: inherit;
}
