@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "ngx-toastr/toastr";

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font: 16px "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
input,
button,
textarea {
  font: inherit;
}
